In [7]:
import numpy as np
import pandas as pd

cuisine_rating = pd.read_csv('Cuisine_rating.csv')
cuisine_rating.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No

In [8]:
cuisine_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         200 non-null    int64
 1   Area code       200 non-null    int64
 2   Location        200 non-null    object
 3   Gender          200 non-null    object
 4   YOB             200 non-null    int64
 5   Marital Status  200 non-null    object
 6   Activity        200 non-null    object
 7   Budget          200 non-null    int64
 8   Cuisines        200 non-null    object
 9   Alcohol         200 non-null    object
 10  Smoker          200 non-null    object
 11  Food Rating     200 non-null    int64
 12  Service Rating  200 non-null    int64
 13  Overall Rating  200 non-null    float64
 14  Often A S       200 non-null    object
dtypes: float64(1), int64(6), object(8)
memory usage: 23.6+ KB

In [9]:
cuisine_rating['Cuisines']

0      Japanese
1        Indian
2       Seafood
3      Japanese
4      Filipino
         ...
195      French
196     Chinese
197    Japanese
198    Filipino
199      French
Name: Cuisines, Length: 200, dtype: object

In [10]:
cuisine_rating['Cuisines'].value_counts() # Ela conta a frequência que aparece cada culinária na base

Cuisines
Japanese    36
Filipino    34
French      34
Indian      32
Chinese     24
Seafood     22
Italian     18
Name: count, dtype: int64

In [11]:
cuisine_rating[cuisine_rating['Cuisines'] == 'Japanese']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
17,18,153,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,1,5,3.0,Yes
25,26,123,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
34,35,129,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,5,5,5.0,No
35,36,107,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,1,3,2.0,No
36,37,154,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,5,2,3.5,Yes
42,43,123,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
49,50,107,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
50,51,107,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
58,59,123,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
60,61,129,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
61,62,122,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
62,63,123,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
70,71,154,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
83,84,154,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
85,86,107,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
97,98,123,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
100,101,117,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Socially,4,4,4.0,No
103,104,121,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
117,118,195,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,2,5,3.5,Yes
125,126,127,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
134,135,172,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,4,5,4.5,No
135,136,176,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,2,3,2.5,No
136,137,110,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,4,2,3.0,Yes
142,143,173,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
149,150,157,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
150,151,185,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
158,159,175,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
160,161,124,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
161,162,125,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
162,163,158,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
170,171,176,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
183,184,166,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
185,186,136,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No

In [12]:
cuisine_rating[cuisine_rating['Cuisines'] == 'Japanese']['Overall Rating']

0      4.5
3      2.0
17     3.0
25     3.5
34     5.0
35     2.0
36     3.5
42     2.0
49     3.5
50     5.0
58     3.0
60     3.5
61     5.0
62     5.0
70     4.0
83     4.5
85     2.5
97     3.5
100    4.0
103    2.0
117    3.5
125    3.5
134    4.5
135    2.5
136    3.0
142    2.0
149    3.5
150    5.0
158    3.0
160    3.5
161    5.0
162    5.0
170    4.0
183    4.5
185    2.5
197    3.5
Name: Overall Rating, dtype: float64

In [14]:
cuisine_rating[cuisine_rating['Cuisines'] == 'Japanese']['Overall Rating'].mean()

3.5972222222222223